html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.homeScreem{
    width: 100vw;
    height:100vh;
    background-image:url("./img/HomeScreemPikachu.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
}

.gridgame {
    float: left;
    width: 60%;
    height: 100vh;
    background-image: url(./img/PokemonbackgroundFull.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pokedex {
    float: right;
    width: 40%;
    height: 100vh; 
}

div#divLogo1 img{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    width: 650px;
}

div#divLogo1 {
    width: auto;
    height: auto;
    text-align: center;
}


div#divLogo {
    position: absolute;
    margin-left: 0;
    margin-right: auto;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#divLogo img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#divLogo:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

div#divChoiceBtn {    
    position: absolute;
    bottom: 140px;
    text-align: center;  
    width: 60%;
}

button#btn1, button#btn2, button#btn3, button#btn4 {
    
    min-width: 200px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: rgb(255, 230, 0);
    background: linear-gradient(90deg, rgb(255, 230, 120) 0%, rgb(255, 230, 220) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(79 209 197 / 64%);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 6px;
    margin: 20px;
}

/* div#divShowpokemon {
    position: absolute;
    top: 50%;
    margin-top: -135px;
    left: 19%;
    width: 400px;
} */

img#imgPokeTag {
    width: 300px;
    filter: brightness(0.0);
}

.divShowpokemon {
    width: 300px;
    height: 42vh;
    margin: auto;
    margin-top: 10px;
}

.viewDivShowPokemon {
    width: 300px;
    height: 300px;
}
.viewDivImg {
    width: 300px;
    height: 300px;
}

figure.viewFigure {
    width: 300px;
    height: 300px;
}

img.viewImgGame {
    width: 300px;
    height: 300px;
    filter: brightness(0);
}

.viewDivInfo {
    width: 300px;
    height: 140px;
}

h5.viewH5Info {
    background-color: azure;
    border-radius: 20px;
    width: 110px;
    height: 45px;
    margin: 0 auto;
    font-family: emoji;
    font-size: 35px;
    text-align: center;
    padding-top: 5px;
}

/**************************************** POKEDEX ****************************************/

.divheadpokedex {
    width: 100%;
    height: 10vh;
    background-color: lightslategrey;
}

.searchPokemon {
    background-color: aqua;
    width: 0 auto;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.searchPokemonInput {
    float: left;
    width: 731px;
    height: 10vh;
}

.searchDivPInput {
    height: 10vh;
    flex: 1 1 30vw;
    margin: 1px;
}

input.searchPInput {
    margin-top: 25px;
    margin-left: 25px;
    width: 20vw;
    height: 50px;
    border-radius: 30px;
    float: left;
}

span.searchPInputSpan {
    font-size: large;
    font-family: emoji;
}

span.card {
    font-family: emoji;
    font-size: 29px;
    justify-content: center;
}

span.cardCount {
    font-family: emoji;
    font-size: 65px;
    float: right;
}

.cardPokemonCount {
    width: 120px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.h1headpokedex {
    font-family: auto;
    font-size: 6em;
    text-align: center;
    color: rgb(17, 17, 17);
    font-style: inherit;
    margin: 0px;
}

.containerPokedex {
    background-image: url(./img/pokeball1.png);
    background-repeat: no-repeat;
    background-size: 60vw;
    width: 90%;
    height: auto;
    min-height: 80vh;
    margin: 0 auto;
    overflow-y: scroll;
    text-align: center;
}

.container-cards {
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
}

.container-cards > ul {
    flex: 1 1 110px;
    margin: 1px;
    height:295px;
}

div#cardDivPInfo {
    width: 60px;
    height: 35px;
    float: left;
    border-top: ridge;
}

div#cardDivH5Info {
    width: 140px;
    height: 35px;
    float: right;
    border-top: ridge;
}

div#cardDivAbilitys1 {
    width: 100px;
    height: 35px;
    float: left;
    border-top: ridge;
}

div#cardDivAbilitys2 {
    border-top: ridge;
    width: 100px;
    height: 35px;
    float: right;
}

.container-cards >ul >li {
    background-color: rgb(230, 230, 230);
    width: 200px;
    height: 200px;
    margin: 1px;
}

div#cardDivFigure_1 {
    width: 200px;
    height: 200px;
}

ul.pokedexResults {
    background-color: bisque;
    height: 22vh;
}

figure {
    height: 20vh;
}

li.figures {
    border: groove;
    border-color: burlywood;
    width: 214px;
    height: 22vh;
}

img.imgPokedex {
    width: 213px;
    height: 22vh;
}

img.cardImgPoke {
    width: 200px;
}

.div-poke-info {
    background-color: cornsilk;
    height: 7vh;
    width: 214px;
    margin: 0px;
    margin-top: 6px;
}

p.id-poke-info {
    width: 60px;
    background-color: yellow;
    height: 3vh;
    float: left;
}

span.id-number {
    height: 3vh;
    width: 60px;
    float: left;
}

p.cardPInfo {
    width: 20%;
    float: left;
    height: 3vh;
}

h5.cardH5Info {
    width: 78%;
    background-color: blue;
    height: 3vh;
    float: right;
}

.cardDivInfo {
    height: 8vh;
    background-color: aquamarine;
}

.cardDivAbilitys1 {
    width: 50%;
    background-color: aqua;
    height: 5vh;
    float: left;
}

ul.cardUl {
    display: inline-block;
    width: 220px;
    height: 30vh;
}

li.cardLi {
    width: 220px;
    height: 30vh;
    display: inline-block;
}

.cardDivAbilitys2 {
    width: 50%;
    background-color: aqua;
    height: 5vh;
    float: right;
}

.abilitys1 {
    background-color: aquamarine;
    width: 105px;
    height: 4vh;
    float: left;
}

.abilitys2 {
    background-color: aquamarine;
    width: 105px;
    height: 4vh;
    float: right;
}
/*****************Anima Loader******************/

.c-loader {
    animation: is-rotating 1s infinite;
    border: 10px solid #fbf04d;
    border-radius: 50%;
    border-top-color: #1d57f5;
    height: 200px;
    width: 200px;
  }
  
  .c-loader1 {
    animation: is-rotating 1s infinite;
    border: 5px solid #fbf04d;
    border-radius: 50%;
    border-top-color: #1d57f5;
    height: 400px;
    width: 400px;
    margin: 0 auto;
  }

  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }

/* 
Esse CSS vai ser aplicado apenas em resoluções até 768px, abrangendo inúmeros devices mobile. */
/* mobile phone
@media all and (max-width: 768px) {
    #divContent{
     overflow:auto; 
    }
} */